@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;800&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.container{
    max-width: 1100px;
    
    margin:50px auto;
    padding:0 10px;
}
.hightlight{
    color:#E02C6D;
}
/* ===============
nav  style
=================== */
.navigation{
    height:80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

nav a{
    text-decoration: none;
    color:#3A3A3A;
    font-weight: 600px;
    font-size: 16px;
    margin-left:10px;
    padding:10px 10px;
}

/* ===============
Header style
=================== */

.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:100px;
}
.header-left{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.header-left h1{
    font-size:45px;
    color:#3A3A3A;
    margin-bottom:16px;

}
.header-left p{
    font-size:16px;
    color:#3A3A3A;
    margin-bottom:16px;
    line-height: 25px;

}
.primary-btn{
    border:none;
    padding:10px 24px;
    border-radius: 25px;
    background:#E02C6D;
    font-size: 16px;
    color:white;
    font-weight: 700;
}
.primary-btn:hover .btn-icon{
    animation: button 0.3s ease-in-out 0.1s infinite alternate ;
    animation-play-state: running;
    
}
@keyframes button {
    from{
        transform: translate(0px);
        opacity: 1;

    }
    to{
        transform: translate(15px);
        opacity: 0;
    }
    
}
.btn-icon{
    margin-left: 8px;

}

.header-right img{
    width:90%;
    transition:transform 0.5s ease-in;
}
.header-right:hover img{
    transform: scale(1.1) rotate(10deg);
    
}
/* ============================
Social Markets
================================ */


.social-market{
    border-bottom: 1px solid #C0CCDA;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #C0CCDA;
}
.social-market img{
    padding:20px 20px;
}

/* =========================
Popular Collection style
===================== */

.section-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom:30px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:30px;
    margin-bottom:50px;
}
.popular {
    padding: 17px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px #d7d7d7;
}
.popular img{
    margin-bottom:10px;
}
.popular h3{
    font-size: 28px;
    margin:6px 0;
}

.star-icon{
    color:#FB8200;
    font-size: 12px;
    margin:6px 0px;
}
.star-icon span{
    color:#5E6366;
    font-weight: 700;
}
.product-info{
    
    font-size: 16px;
    color:#787885;
}

.collection a{
    text-decoration: none;
    font-size: 16px;
    color:#E02C6D;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
/* =======================
Feature style
=========================  */

.feature{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 26px;
    justify-content: center;
    align-items: center;
}
.feature-left img{
    width:80%;
}

.feature-right h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.quiality {
    padding: 5px 0;
}
.quiality h2 {
    font-size: 24px;
}
.quiality p {
    width: 80%;
    font-size: 14px;
    color:#787885;
}
.feature-right button {
    margin-top: 27px;
}
/* ================================
Footer style 
=========================== */
footer{
    background-color: #0A0826;
    text-align: center;
   
}
.footer-title h2{
    font-size: 24px;
    font-weight: bold;
    color:white;
    padding-top:50px;
}
.footer-title p{
    font-size: 14px;
    font-weight: bold;
    color:white;
    padding:3px 0px;
}
.footer-icon i {
    color: white;
    font-size: 17px;
    padding: 10px 10px;
    background-color: #22213C;
    border-radius: 100%;
    margin: 16px 8px;
}
.footer-icon{
    padding-bottom: 34px;
}

/*==============================
            Media Quary
 ============================ */
/* Tablat Device */
 @media (max-width:900px) {
     .header,.feature{
         display: grid;
         grid-template-columns: 1fr;
         

     }
     .header-left{
         order:2
        }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .popular-collection ,.feature,.header{
        text-align: center;
    }
    .quiality,.header-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .feature-left{
        margin-bottom: 10px;
    }
    
    
 }

/* Mobile Device */
@media (max-width:600px) {
    .popular-collection{
        display: grid;
        grid-template-columns:1fr;
        
    }
    .header-left h1, .feature-right h1{
    font-size:30px;
    }
    .quiality h2, .popular h3{
        font-size:20px;
    }
    .popular img,.feature-left img{
        width:100%;
    }

    
}

/* Navigation Responsive */